{% extends 'base.html' %}
{% load static %}
{% block title %}
    User Registration
{% endblock %}
{% block user_signup %}
    active
{% endblock %}
{% block content %}

    <style>

        body {
            background: #e9e8e6;
        }

        .btn-primary {
            background: #34b7a7;
        }

        .btn-primary, .btn-primary:hover {
            border: none;
        }

        .jumbotron {
            font-family: "Book Antiqua";
            text-align: center;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("{% static 'main_static/img/slide/slide-1.jpg' %}") no-repeat center center fixed;
            background-size: cover;
            margin-top: 100px;
            background: #e9e8e6;

        }

        .row {
            background: #e9e8e6;
        }

        .body {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("{% static 'main_static/img/slide/slide-1.jpg' %}") no-repeat center center fixed;
            background-size: cover;
        }

        .row {
            background: #e9ecef;

        }

        .card .card-body {

         border: none;
        }

    </style>

    <!--form -->
    <center>
        <div class="jumbotron">

            <div class="container">
                <div class="row card  card-body" style="background: whitesmoke;">
                    <form action="{% url 'UserRegisterActions' %}" method="POST">

                        {% csrf_token %}
                        <legend align="center" class="text-primary">
                            <strong style="text-decoration: underline; color: #34b7a7;">User Sign
                                up</strong><p>All the fields are Requried and cannot be empty</p></legend>
                        <br><br>
                        <div class="form-row">
                            
                            <div class="form-group col-md-4">
                                <label for="id_name">User Name</label>
                                {{ form.name }}
                            </div>

                            <div class="form-group col-md-4">
                                <label for="id_loginid">Login Id</label>
                                {{ form.loginid }}
                            </div>


                            <div class="form-group col-md-4">
                                <label for="id_email">Email</label>
                                {{ form.email }}
                            </div>

                            <div class="form-group col-md-4">
                                <label for="id_mobile">Mobile</label>
                                {{ form.mobile }}
                                <label for="">Mobile no. must be 10 Digits</label>
                            </div>


                            <div class="form-group col-md-4">
                                <label for="id_password">Password</label>
                                {{ form.password }}
                                <label for="">Must contain at least one number , one uppercase & lowercase letter, and at least 8 characters</label>
                            </div>


                            <div class="form-group col-md-4">
                                <label for="id_locality">Locality</label>
                                {{ form.locality }}
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="id_city">City</label>
                                {{ form.city }}
                            </div>

                            <div class="form-group col-md-4">

                            </div>
                            <div class="form-group col-md-4">
                                <label for="id_state">State</label>
                                {{ form.state }}
                            </div>
                            <div class="form-group col-md-2">
                                {#                            <label for="id_status">Status</label>#}
                                {{ form.status }}
                            </div>


                            <div class="form-group col-md-8">
                                <label for="id_address">Address </label>
                                {{ form.address }}

                            </div>


                        </div>


                        <button type="submit" class="btn btn-primary">Sign up</button>
                        <button type="reset" class="btn btn-outline-dark">Reset</button>
                        <!-- Message -->
                        {% if messages %}
                            {% for message in messages %}
                                <p align="center" class="text-primary"> {{ message }}</p>
                            {% endfor %}
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>
    </center>
{% endblock %}